@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<br />
<address>
    AbSteveKim Software Inc.<br />
    Calgary, Alberta, T3G 5T9<br />
    CANADA<br />
</address>

<address>
    <strong>Phone:</strong> 403.973.2967<br />
    <strong>Email:</strong> <a href="mailto:abstevekim@gmail.com">abstevekim@gmail.com</a><br />
</address>
